* {
    margin: 0;
    padding: 0;
}
.header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo {
    width: 155px;
    padding-top: 10px;
}
.lista {
    font-size: 16px;
    color: #4a4a4a;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: #3CDBC0;
}
.título {
    position: absolute;
    top: 50vh;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    text-align: center;
    
}